<div class="flex">

  <mat-card>
    <mat-card-title>Cadastro de Usuários</mat-card-title>
    <mat-card-content informar que o formulario será validado pelo templete Driven forms>

      <form action="#" #userForm="ngForm" (ngSubmit)="enviarForm()">
        <mat-form-field>
          <mat-label appearance="outline">Nome</mat-label>
          <input type="text" matInput [(ngModel)]="dadosUsuario.nome" name="nome" required minlength="4"
            #inputNome="ngModel">
          <mat-error>
            <!-- o metado getError informa se o problema de validacao esta vindo de algum atributo valido  -->
            <span *ngIf="inputNome.getError('required')">Este campo é obrigatório</span>
            <span *ngIf="inputNome.getError('minlength')">Este campo precisa de no minimo 4 caracteres</span>
          </mat-error>

        </mat-form-field>
        <mat-form-field>
          <mat-label appearance="outline">Sobrenome
          </mat-label>
          <input type="text" matInput [(ngModel)]="dadosUsuario.sobrenome" name="nome" required minlength="4"
          #inputSobrenome="ngModel"
          >
          <mat-error>
            <!-- o metado getError informa se o problema de validacao esta vindo de algum atributo valido  -->
            <span *ngIf="inputNome.getError('required')">Este campo é obrigatório</span>
            <span *ngIf="inputNome.getError('minlength')">Este campo precisa de no minimo 4 caracteres</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label appearance="outline"
          >E-mail</mat-label>
          <input type="text" 
          matInput [(ngModel)]="dadosUsuario.email" 
          name="email" required 
          #inputSobrenome="ngModel"
          required minlength="4"
          email
          #inputEmail="ngModel"
          
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label appearance="outline">Senha</mat-label>
          <input 
          type="password" 
          matInput [(ngModel)]="dadosUsuario.senha" 
          name="senha" required minlength="4"
          #inputSobrenome="ngModel">
        </mat-form-field>
        <button type="submit" 
        mat-raised-button 
        color="primary"
       [disabled]="userForm.invalid"
        >Clique</button>
        
      </form>
    </mat-card-content>
  </mat-card>
</div>

<app-reactive></app-reactive>